body {
  background: rgba(0,146,241,1);
  color: #1a1d1f;
  font-weight: 500;
  font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  outline: none;
  color: #3e9cdd;
  text-decoration: none;
}

a:hover {
  color: #304684;
}

  nav a {
    color: rgba(255, 255, 255, 0);
  }

.hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}


nav {
  background-color: #304684;
  box-shadow: 0 0 0 0;
  height: 34px;
}

/* Hides */
.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}
/* Centres vertically yo. (IE8+) */
.cat-hero {
    padding-top: 2em;
}
.kioshi-cat {
    margin-left: 33%;
    width: 33%;
    height: 40%;
}
h1.page-title {
    color: #304684;
    font-size: 4.2vw;
    font-family: 'Pacifico', cursive;
    line-height: 110%;
    margin: 1.5rem 0 1.68rem 0;
    text-align: center;
}
.kioshi {
    background: rgba(0,146,241,1);
}
