 body {
    width: 100%;
    height: 100%;
    position: relative;
    background: #0092f7;
    color: #1a1d1f;
    font-weight: 500;
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: Inconsolata, "Lucida Console", Monaco, Courier, monospace;
    font-smooth: never;
    line-height: 2em;
    color: #d4f8e3;
    -webkit-font-smoothing: none;
    text-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
}
@-moz-keyframes blink {
  to {
    background-color: #0092f7;
  }
}
@-moz-keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@-moz-keyframes flicker {
  to {
    color: #0092f7;
  }
}
@-moz-keyframes ready {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    background-color: #0092f7;
  }
}
@-webkit-keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@-webkit-keyframes ready {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes flicker {
  to {
    color: #0092f7;
  }
}
@keyframes blink {
  to {
    background-color: #0092f7;
  }
}
@keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@keyframes flicker {
  to {
    color: #0092f7;
  }
}

@keyframes ready {
  to {
    visibility: hidden;
  }
}

a {
  outline: none;
  color: #3e9cdd;
  text-decoration: none;
}

a:hover {
  color: #304684;
}

nav a {
  color: rgba(255, 255, 255, 0);
}

.hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}


nav {
  background-color: rgba(48,70,132,1);
  box-shadow: 0 0 0 0;
}

/* Header */
.kioshi {
    background-image: url(../images/video-stripe.png), url(../images/video-noise.png);
    background-repeat: repeat-x, repeat;
    background-position: 0 0%;
    background-attachment: fixed;
    -moz-animation: blink 0.1s steps(2, start) infinite, skip 20s linear infinite, flicker 0.1s steps(2, start) infinite;
    -webkit-animation: blink 0.1s steps(2, start) infinite, skip 20s linear infinite, flicker 0.1s steps(2, start) infinite;
    animation: blink 0.1s steps(2, start) infinite, skip 20s linear infinite, flicker 0.1s steps(2, start) infinite;
}

.cat-hero {
    padding-top: 2em;
}
.kioshi-cat {
    width: 221px;
    height: 210px;
}
h1.page-title {
    color: #304684;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    line-height: 110%;
    margin: -1.1rem 0 1.68rem 0;
    text-align: center;
}
h2.page-description {
    color: #304684;
    font-size: 29px;
    font-family: "futura-pt", Futura, sans-serif;
    line-height: 110%;
    margin: -1.1rem 0 1.68rem 0;
    text-align: center;
}

/* Body */

.description-section {
  background: rgba(0,146,241,1);
}

.page-description {
    margin: 15px 0 0 50px;
}

/* Media Queries */
@media only screen and (max-width: 992px) {
    nav {
        height: 67px;
        background-color: rgba(48,70,132,.8);
    }
}

@media only screen and (min-width: 992px) {
    .kioshi-cat {
        height: 40%;
        width: 33% !important;
        margin-left: 33% !important;
        padding: 0 !important;
    }
    h1.page-title {
        font-size: 4.2vw;
    }
}

@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  h1.page-title {
    font-size: 29px;
  }
  .page-description {
      margin: 0;
      text-align: center;
  }
  h2.page-description {
    font-size: 18px;
    font-family: "futura-pt", Futura, sans-serif;
  }
  .kioshi-cat {
    width: 221px;
    height: 155px;
}
}
