  <nav>
    <ul class="left hide-on-med-and-down">
      <li class="active"><a href="/">KIOSHI PICTURES</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href=""></a></li>
      <li><a href="/about">About</a></li>
      <li><a href="http://development.house">Development</a></li>
      <li><a href="http://minetoast.github.io">MINECRAFT SERVER</a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="kioshi cat-hero col s6">
        <div class="row">
          <object class="kioshi-cat col s12" type="image/svg+xml" data="/images/kioshi.svg" alt="Kioshi"></object>
        </div>
        <div class="row">
          <div class="main-header-content inner">
            <h1 class="page-title">Kioshi Pictures</h1>
          </div>
        </div>
    </div>
    <div class="market-hero col sm6">
    </div>
  </div>
